@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --base-button-color: #ff0000;
  --base-hightlight-color: #ff0000;
  --from: #3cffd0;
  --to: #277ef4;

  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 


}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.heading{
  color:gray;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(255, 248, 38); /* Safari */  
  text-decoration-color: rgb(255, 248, 38);
  text-decoration-thickness: 5px;
  text-underline-offset: 2px;
}

.heading_1{
  color:black;
  font-weight: 700;
  font-size: 20px;
  
  
}

.hightlight-green{
  color: green;
}

.btn-red{
  
  background: red;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  
}


.bbq-text-heading-1{
  font-weight: 600;
  font-size: 18px;
}


.bbq-text-heading-2{
  font-weight: 700;
  font-size: 16px;
  margin-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bbq-text-heading-light{
  font-weight: 300;
  font-size: 18px;
}

.Menu-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.text-highlight-yes{
  background: orange;
  padding: 0.5rem;
  border-radius: 12px;
  color: white;
}

.text-highlight-no{
  background: grey;
  padding: 0.5rem;
  border-radius: 12px;
  color: white;
}

.color-white{
  color: white;
}

.color-gray{
  color: gray;
}