@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --base-button-color: #ff0000;
  --base-hightlight-color: #ff0000;
  --from: #3cffd0;
  --to: #277ef4;


}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.heading{
  color:gray;
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(255, 248, 38); /* Safari */  
  text-decoration-color: rgb(255, 248, 38);
  text-decoration-thickness: 5px;
  text-underline-offset: 2px;
}

.heading_1{
  color:black;
  font-weight: 700;
  font-size: 20px;
  
  
}

.hightlight-green{
  color: green;
}

.btn-red{
  
  background: red;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  
}