.Item-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding:1rem 6rem 1rem 6rem;
    background: rgb(254, 254, 254);
    

}

.Item-panel-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: purple;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
    
}

.Item-panel-2{
    background: rgb(255, 230, 184);
    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Item-Title{
    font-size: 25px;
    font-weight: 300;
    font-family: var(--font-family);
}

.add-to-cart{
    background: orange;
    padding: 0.5rem;
    border-radius: 12px;
}

.line{
    background: rgb(208, 208, 208);
    padding: 0.05rem;
}

.high-light{
    font-size: large;
    font-weight: 800;
    color: gray;
}

.text-light{
    font-size: large;
    font-weight: 300;
}

.text-bold{
    font-weight: 700;
    color: green;
}

.spaceing{
    margin: 0 1rem 0 1rem;
}

.secoundary-panel{
    background: white;
    margin-left:6rem;
    margin-right:6rem;
}




.description-panel{
    padding: 2rem;
    
}

.addon-slider{
    
}