
.Item-main{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    padding:1rem 6rem 1rem 6rem;
    background: rgb(0, 0, 0);
    
    

}

.Item-panel-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
    
    
    
}

.Item-panel-2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    
}

.Item-panel-3{
    background: blue;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ddd;
    width: 20%;
    padding: 2rem 2rem 6rem 2rem;
    border: none;
    
    background: white;
    border-radius: 12px;
    min-height: 50px;
    top: 0;
    margin-top: 8rem;
    margin-right: 0.2rem;
    position: fixed;
    right: 100px;
    
}

.Item-Title{
    font-size: 25px;
    font-weight: 300;
    font-family: var(--font-family);
}

.add-to-cart{
    background: orange;
    padding: 0.5rem;
    border-radius: 12px;
}

.line{
    background: rgb(208, 208, 208);
    padding: 0.05rem;
}

.high-light{
    font-size: large;
    font-weight: 800;
    color: gray;
}

.text-light{
    font-size: large;
    font-weight: 300;
}

.text-bold{
    font-weight: 700;
    color: green;
}

.spaceing{
    margin: 0 1rem 0 1rem;
}

.secoundary-panel{
    background: white;
    margin-left:6rem;
    margin-right:6rem;
}




.description-panel{
    padding: 2rem;
    
}

.addon-slider{
    
}