.Subcard-panel{
    display: grid;
    grid-template-columns: 2fr 5fr;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
    background: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;

}

.Subcard-panel-1{
    width: 80px;
    height: 80px;
    overflow: hidden;
}